@page
@model BankStartWeb.Pages.Customers.Accounts.DepositsModel
@{
    ViewData["Title"] = "Deposits";
}
<form method="post"> 
    <div asp-validation-summary="All"></div>
    <div class="mb-3">

        <label asp-for="Amount" class="form-label">Amount</label>
        <input asp-for="Amount" class="form-control" aria-describedby="emailHelp">
        <span asp-validation-for="Amount"></span>
    </div>

    <button type="submit" class="btn btn-primary bg-success">Submit</button>
</form>
